.header {
  display: flex;
  height: 4rem;
  align-items: center;
  background-color: purple;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 1rem;
}

.spacer {
  flex: 1;
}

.buttons {
  display: flex;
  /*flex-wrap: nowrap;*/
  width: fit-content;
  color: white;
}

button {
  margin: 1rem;
}

.logo {
  height: 75%;
  width: auto;
  margin: 1rem;
}

.searchbar {
  border-radius: 20px;
  height: 2rem;
  width: 30%;
  border: none;
  outline: none;
  background-color: rgb(99, 9, 99);
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}