<div class="container">
  <h2>Gestión de Categorías</h2>

  <!-- Modal de confirmación de eliminación -->
  <div *ngIf="showDeleteConfirmation" class="modal">
    <div class="modal-dialog">
      <div class="modal-header">
        <h5 class="modal-title">Confirmar eliminación</h5>
      </div>
      <div class="modal-body">
        <p>¿Está seguro de que desea eliminar la categoria "{{ categoryToDeleteName }}"?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" (click)="deleteCategory(deleteCategoryId!)">Eliminar</button>
        <button class="btn btn-secondary" (click)="cancelDelete()">Cancelar</button>
      </div>
    </div>
  </div>

  <!-- Mensaje de categoría creada con éxito -->
  <div *ngIf="categoryCreatedSuccess" class="modal success-message">
    <div class="modal-dialog">
      <div class="modal-header">
        <h5 class="modal-title">Categoría Creada</h5>
        <button class="close" (click)="categoryCreatedSuccess = false">×</button>
      </div>
      <div class="modal-body">
        <p>La categoría se ha creado con éxito.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="closeCreateSuccess()">Cerrar</button>
      </div>
    </div>
  </div>

  <!-- Mensaje de categoría modificada con éxito -->
  <div *ngIf="categoryUpdatedSuccess" class="modal success-message">
    <div class="modal-dialog">
      <div class="modal-header">
        <h5 class="modal-title">Modificación exitosa</h5>
      </div>
      <div class="modal-body">
        <p>La categoría se ha modificado con éxito.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="closeUpdateSuccess()">Cerrar</button>
      </div>
    </div>
  </div>

  <!-- Mensaje de categoría eliminada con éxito -->
  <div *ngIf="categoryDeletedSuccess" class="modal success-message">
    <div class="modal-dialog">
      <div class="modal-header">
        <h5 class="modal-title">Eliminación exitosa</h5>
      </div>
      <div class="modal-body">
        <p>La categoría se ha eliminado con éxito.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="closeDeleteSuccess()">Cerrar</button>
      </div>
    </div>
  </div>

  <!-- Barra de búsqueda -->
  <div class="form-group mb-3">
    <label for="searchTerm">Buscar Categoría:</label>
    <input type="text" id="searchTerm" [(ngModel)]="searchTerm" class="form-control"
      placeholder="Buscar por nombre de categoría" />
  </div>

  <!-- Tabla de categorías -->
  <table class="table mt-3" *ngIf="filteredCategories.length > 0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of filteredCategories">
        <td>{{ category.id }}</td>
        <td>{{ category.name }}</td>
        <td>
          <!-- Botones de acciones (editar, eliminar) -->
          <button class="btn btn-warning" (click)="startEditCategory(category)">Editar</button>
          <button class="btn btn-danger" (click)="confirmDeleteCategory(category.id, category.name)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Botón para agregar una nueva categoría -->
  <button class="btn btn-primary mt-3" (click)="addingCategory = true" *ngIf="!editingCategoryId">Agregar
    Categoría</button>

  <!-- Formulario de creación o edición de categoría -->
  <div *ngIf="addingCategory || editingCategoryId" class="mt-3">
    <div class="form-group">
      <label for="categoryName">Nombre de la Categoría:</label>
      <input type="text" id="categoryName" [(ngModel)]="newCategoryName" class="form-control"
        placeholder="Ingrese el nombre de la categoría" />
    </div>

    <!-- Mostrar mensaje de error si el nombre está vacío -->
    <div *ngIf="errorMessage" class="error-message text-danger">
      {{ errorMessage }}
    </div>

    <button class="btn btn-success" (click)="editingCategoryId ? updateCategory() : createCategory()">
      {{ editingCategoryId ? 'Actualizar' : 'Crear' }} Categoría
    </button>
    <button class="btn btn-secondary" (click)="cancelEdit()">Cancelar</button>
  </div>

  <!-- Mensaje si no hay categorías que coincidan con la búsqueda -->
  <p *ngIf="filteredCategories.length === 0">No se encontraron categorías que coincidan con la búsqueda.</p>
</div>