<div class="container">
    <h1 class="top-title">**Nombre del producto de id {{id}}**</h1>
    <article>
        <div class="product-details">
            <div class="product-image">
                <img src="https://picsum.photos/200" alt="Product Image">
            </div>
            <div class="product-info">
                <div class="info">
                    <h1 class="inner-title">Producto {{id}}</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam dui lacus, dictum sagittis justo laoreet id.</p>
                </div>
                <div class="side-to-side">
                    <strong>$ 1000</strong>
                    <input name="amount" type="number" placeholder="1"/>
                </div>
                <div class="side-to-side">
                    <strong>Total: $ 1000</strong>
                    <button class="add-to-cart">Añadir al carrito</button>
                </div>
            </div>
        </div>
    </article>
</div>