<div class="container">
  <h2>Lista de Productos</h2>

  <!-- Tabla de productos -->
  <table class="table mt-3" *ngIf="products.length > 0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.desc }}</td>
        <td>{{ product.prices.at(0).price }}</td>
        <td>{{ product.stock}}</td>
        <td>
          <button class="btn btn-warning" [routerLink]="['/edit-product', product.id]">Modificar</button>
          <button class="btn btn-danger" (click)="confirmDelete(product)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Botón para agregar un producto -->
  <button class="btn btn-primary mt-3"  [routerLink]="['/create-product']">Agregar Producto</button>
</div>