<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2>Inicio de Sesión</h2>
    <div class="form-group">
      <label for="email">Nombre de Usuario</label>
      <input type="text" id="email" formControlName="email" name="email" required>
    </div>

    <div class="form-group password-group">
      <label for="password">Contraseña</label>
      <input type="password" id="password" formControlName="password" name="password" required>
      <button type="button" class="password-toggle" (click)="togglePasswordVisibility()"
        [attr.aria-label]="showPassword ? 'Ocultar contraseña' : 'Mostrar contraseña'">
        <i class="fas" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
        <span class="visually-hidden">
          {{ showPassword ? 'Ocultar contraseña' : 'Mostrar contraseña' }}
        </span>
      </button>
    </div>

    <button type="submit">Iniciar Sesión</button>

    <div class="form-footer">
      <p>¿Todavía no tienes una cuenta?
        <a [routerLink]="['/register']">Regístrate aquí</a>
      </p>
      <!-- <p>
        <a href="#">¿Olvidaste tu contraseña?</a>
      </p> -->
    </div>
  </form>
  <!-- Modal de error -->
  <div *ngIf="showErrorModal" class="modal">
    <div class="modal-dialog">
      <div class="modal-header">
        <h5 class="modal-title">Error al iniciar sesión</h5>
      </div>
      <div class="modal-body">
        <p>{{ errorMessage }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeErrorModal()">Cerrar</button>
      </div>
    </div>
  </div>
  </div>