<div class="myHeader">
    <nav class="container">
        <ul>
        <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
            <img src="La Gallega.png" alt="" class="img wide">
            <img src="G.png" alt="" class="img small">
        </a></li>
        </ul>
        <ul>
            <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                <path d="M21 21l-6 -6" />
            </svg></a></li>
            <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
            </svg></a></li>
        </ul>
    </nav>
</div>
<div class="category-wrapper justify-evenly-until-scroll">
    <div class="category-list">
        <button class="category-button">Categ1</button>
        <button class="category-button">Categ2</button>
        <button class="category-button">Categ3</button>
        <button class="category-button">Categ4</button>
        <button class="category-button">Categ5</button>
        <button class="category-button">Categ6</button>
        <button class="category-button">Categ7</button>
        <button class="category-button">Categ8</button>
        <button class="category-button">Categ9</button>
    </div>
</div>