<div class="myHeader">
    <nav class="container">
        <ul>
            <!-- Logo -->
            <li>
                <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="clearAndCloseSearch()">
                    <img src="La Gallega.png" alt="" class="img wide" />
                    <img src="G.png" alt="" class="img small" />
                </a>
            </li>
        </ul>

        <!-- Barra de búsqueda (se muestra si showSearch es true) -->
        <div *ngIf="showSearch" class="search-bar">
            <input type="text" [(ngModel)]="searchQuery" placeholder="Buscar productos..." (ngModelChange)="onSearch()">
        </div>

        <ul>
            <li *ngIf="isLoggedIn && canViewCustomer">
                <a style="cursor:pointer;" [routerLink]="['/shop-list']">
                    <svg  id="cart-icon" xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#ffffff"
                    stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-shopping-cart">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                        <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                        <path d="M17 17h-11v-14h-2" />
                        <path d="M6 5l14 1l-1 7h-13" />
                    </svg>
                </a>
            </li>
            <!-- Botón de búsqueda -->
            <li>
                <a style="cursor:pointer;" (click)="toggleSearch()">
                    <svg *ngIf="!showSearch" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="24"
                        height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                        <path d="M21 21l-6 -6" />
                    </svg>
                    <svg  *ngIf="showSearch" xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"
                    stroke="#ffffff"  stroke-width="1.5"  stroke-linecap="round"  stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-search-off"><path stroke="none" d="M0 0h24v24H0z"
                    fill="none"/><path d="M5.039 5.062a7 7 0 0 0 9.91 9.89m1.584 -2.434a7 7 0 0 0 -9.038 -9.057" />
                    <path d="M3 3l18 18" /></svg>
                </a>
            </li>

            <li *ngIf="!isLoggedIn">
                <a [routerLink]="['/login']">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="24" height="24"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                        <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                    </svg>
                </a>
            </li>
            
            <!-- Menú desplegable con icono de configuración si está logueado -->
            <li *ngIf="isLoggedIn" class="dropdown">
                <button (click)="toggleSettingsMenu()" aria-haspopup="true" [attr.aria-expanded]="isSettingsMenuVisible"
                    class="icon-button">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="24" height="24"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                        <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                    </svg>
                </button>
                <ul class="dropdown-menu" [class.show]="isSettingsMenuVisible" role="menu">
                    <li class="config-submenu" role="none">
                        <a role="menuitem" aria-haspopup="true">Configuración</a>
                        <ul class="submenu" role="menu">
                            <li role="none"><a [routerLink]="['/user-settings', user.email]" role="menuitem">Modificar
                                    datos</a></li>
                            <li role="none"><a routerLink="/remove-user" role="menuitem">Eliminar cuenta</a></li>
                            <li role="none" *ngIf="canViewAdmin"><a routerLink="/admin-dashboard" role="menuitem">Administrador</a></li>
                        </ul>
                    </li>
                    <li role="none"><a (click)="logout()" role="menuitem">Cerrar sesión</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>

<!-- Categorías -->
<div class="category-wrapper justify-evenly-until-scroll">
    <div class="category-list">
        <button *ngFor="let category of categories" [routerLink]="['/category-results', category.id]"
            routerLinkActive="active" class="category-button">{{category.name}}</button>
    </div>
</div>

<!-- Cartel de cierre de sesión -->
<div *ngIf="logoutMessage" class="modal show" tabindex="-1" role="dialog" style="display: block;"
    aria-labelledby="modal-title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modal-title" class="modal-title">Cierre de sesión</h5>
            </div>
            <div class="modal-body">
                <p>Has cerrado sesión exitosamente.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="redirectToHome()">Ir al inicio</button>
            </div>
        </div>
    </div>
</div>