<div class="container">
  <h1>Modificar Producto</h1>

  <form [formGroup]="productForm" (ngSubmit)="updateProduct()">
    <div>
      <label for="name">Nombre:</label>
      <input type="text" id="name" formControlName="name"
        [ngClass]="{'is-invalid': productForm.get('name')?.invalid && (productForm.get('name')?.touched || productForm.get('name')?.dirty)}" />
      <!-- Mostrar un mensaje de error si el campo 'name' es inválido -->
      <div
        *ngIf="productForm.get('name')?.invalid && (productForm.get('name')?.touched || productForm.get('name')?.dirty)"
        class="invalid-feedback">
        El nombre del producto es obligatorio.
      </div>
    </div>

    <div>
      <label for="desc">Descripción:</label>
      <textarea id="desc" formControlName="desc"></textarea>
    </div>

    <div>
      <label for="price">Precio:</label>
      <input type="number" id="price" formControlName="prices" />
    </div>

    <div>
      <label for="img">Imagen:</label>
      <input type="text" id="img" formControlName="img" />
    </div>

    <div>
      <label for="discount">Descuento:</label>
      <select id="discount" formControlName="discount_id">
        <option *ngFor="let discount of discounts" [value]="discount.id">
          {{ discount.percentage }}% de descuento en {{ discount.units }} unidad/es
        </option>
        <option value="null">Producto sin descuentos</option> <!-- Opción para no asignar descuento -->
      </select>
    </div>

    <button type="submit" [disabled]="productForm.invalid">Modificar Producto</button>
    <button type="button" (click)="cancel()">Cancelar</button>

    <!-- Mostrar el mensaje de error global si existe -->
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
  </form>
</div>