.container {
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  h2 {
    color: #4a0e4e;
    text-align: center;
    margin-bottom: 20px;
  }

  .spinner-border {
    display: block;
    margin: 20px auto;
  }

  /* Contenedor del buscador */
  .search-container {
    margin-bottom: 20px;
  }

  .search-input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
  }

  .search-input:focus {
    outline: none;
    border-color: #8e44ad;
    box-shadow: 0 0 0 2px rgba(142, 68, 173, 0.2);
  }

  .loading,
  .no-users {
    text-align: center;
    color: #999;
  }

  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

    thead {
      background-color: #f1f1f1;
      text-align: left;

      th {
        padding: 12px;
        cursor: pointer;
        color: #000000;
        text-align: center;
        vertical-align: middle;
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid #ccc;

        td {
          padding: 12px;
          vertical-align: middle;
          text-align: center;
        }

        .btn {
          margin-right: 15px;
        }
      }
    }
  }

  .table td:nth-child(1),
  .table th:nth-child(1) {
    width: 10%;
  }

  .table td:nth-child(2),
  .table th:nth-child(2) {
    width: 15%;
  }

  .table td:nth-child(3),
  .table th:nth-child(3) {
    width: 15%;
  }

  .table td:nth-child(4),
  .table th:nth-child(4) {
    width: 20%;
  }

  .table td:nth-child(5),
  .table th:nth-child(5) {
    width: 25%;
  }

  .table td:nth-child(6),
  .table th:nth-child(6) {
    width: 25%;
  }

  select {
    padding: 5px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
  }

  .btn {
    margin: 0 8px;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &.btn-warning {
      background-color: #8e44ad;
      color: white;

      &:hover {
        background-color: #6c3483;
      }
    }

    &.btn-primary {
      background-color: #8e44ad;
      color: white;

      &:hover {
        background-color: #6c3483;
      }
    }

    &.btn-danger {
      background-color: #dc3545;
      color: white;

      &:hover {
        background-color: #c82333;
      }
    }
  }
}