<div class="container">
  <h2>Lista de Usuarios</h2>

  <!-- Campo de búsqueda -->
  <div class="search-container mb-3">
    <input type="text" [(ngModel)]="searchQuery" (ngModelChange)="filterUsers()"
      placeholder="Buscar usuarios por nombre o correo" class="search-input form-control" />
  </div>

  <!-- Mostrar un cargador mientras se obtienen los usuarios -->
  <div *ngIf="isLoading" class="spinner-border" role="status">
    <span class="sr-only">Cargando...</span>
  </div>

  <!-- Tabla de usuarios -->
  <table class="table mt-3" *ngIf="!isLoading">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Correo electrónico</th>
        <th>Rol</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of filteredUsers">
        <td>{{ user.dni }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.email }}</td>
        <td>
          <select [(ngModel)]="user.role">
            <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
          </select>
        </td>
        <td>
          <button class="btn btn-warning" (click)="changeRole(user)">Actualizar rol</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Mensaje si no hay usuarios encontrados -->
  <div *ngIf="!isLoading && filteredUsers.length === 0" class="no-users">
    No se encontraron usuarios.
  </div>
</div>