<div class="admin-dashboard">
  <h1>Panel de Administración</h1>
  <div>
    <a (click)="navigateToCategoryCreation()">Crear Categoría</a>  
    <p>Creacion de categorias de productos</p>
    <a (click)="navigateToProductCreation()">Crear Producto</a>
    <p>Creacion de productos, agregandole precio</p>
    <!-- <li><a (click)="navegateToUsersRoles()">Usuarios del Sistema</a></li> -->
    <!-- Ver si se va a terminar haciendo lo de roles -->
    <!-- <a (click)="navigateToDiscountCreation"></a> -->
  </div>
</div>