<div class="register-container">
  <form class="register-form" (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <h2>Registro de Usuario</h2>

    <div class="form-group">
      <label for="dni">DNI</label>
      <input type="text" id="dni" class="form-control" required [(ngModel)]="registerData.dni" name="dni"
        (keypress)="validateNumber($event)"
        #dni="ngModel" />
    </div>

    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" id="name" class="form-control" required [(ngModel)]="registerData.name" name="name"
        (keypress)="validateText($event)"
        #name="ngModel" />
    </div>

    <div class="form-group">
      <label for="second_name">Apellido</label>
      <input type="text" id="second_name" class="form-control" required [(ngModel)]="registerData.last_name"
        (keypress)="validateText($event)"
        name="second_name" #second_name="ngModel" />
    </div>

    <div class="form-group">
      <label for="email">Correo electrónico</label>
      <input type="email" id="email" class="form-control" required [(ngModel)]="registerData.email" name="email"
        #email="ngModel" />
      <div *ngIf="email.errors?.['email']" class="error-message">
        <strong>Formato de correo inválido</strong>
      </div>
    </div>

<div class="form-group">
  <label for="phone">Teléfono</label>
  <input type="text" id="phone" class="form-control" required [(ngModel)]="registerData.phone" name="phone"
    (keypress)="validateNumber($event)"
    #phone="ngModel" />
  <div *ngIf="phone.invalid && phone.touched" class="error-message">
    <strong>Campo obligatorio</strong>
  </div>
</div>

    <div class="form-group">
      <label for="address">Dirección</label>
      <input type="text" id="address" class="form-control" required [(ngModel)]="registerData.address" name="address"
        #address="ngModel" />
    </div>

    <div class="form-group">
      <label for="password">Contraseña</label>
      <input type="password" id="password" class="form-control" required [(ngModel)]="registerData.password"
        name="password" #password="ngModel" pattern="^(?=.*[A-Z]).{8,}$" />
      <div *ngIf="password.errors?.['pattern'] && password.touched" class="error-message">
        <strong>La contraseña debe tener al menos 8 caracteres y una letra mayúscula</strong>
      </div>
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirmar Contraseña</label>
      <input type="password" id="confirmPassword" class="form-control" required
        [(ngModel)]="registerData.confirmPassword" name="confirmPassword" #confirmPassword="ngModel"
        pattern="^(?=.*[A-Z]).{8,}$" [ngClass]="{'is-invalid': confirmPassword.invalid && confirmPassword.touched}" />
      <div *ngIf="confirmPassword.errors?.['pattern'] && confirmPassword.touched" class="error-message">
        <strong>La contraseña debe tener al menos 8 caracteres y una letra mayúscula</strong>
      </div>
      <div *ngIf="confirmPassword.value !== registerData.password && confirmPassword.touched" class="error-message">
        <strong>Las contraseñas no coinciden</strong>
      </div>
    </div>

    <!-- Mostrar mensaje de error si el nombre está vacío -->
    <div *ngIf="errorMessage" class="error-message text-danger">
      {{ errorMessage }}
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Registrarse</button>

    <div class="terms-section">
      <p>¿Tienes una cuenta? <a [routerLink]="['/login']">Iniciar sesión</a></p>
      <p class="terms">Al pulsar este botón, usted confirma que ha leído y acepta los <a href="#">Términos y
          Condiciones</a> y la <a href="#">Política de Privacidad</a> de la compañía, y confirma que es mayor de edad.
      </p>
    </div>
  </form>

  <div *ngIf="showModal" class="modal show" tabindex="-1" role="dialog" style="display: block;"
    aria-labelledby="modal-title">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 id="modal-title" class="modal-title">{{modalTitle}}</h5>
        </div>
        <div class="modal-body">
          <p>{{modalMessage}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="closeModal()">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</div>